@import "../../../colors.scss";

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.results-container{

    align-items: center;
    display: flex;
    flex-direction: column;

    .mat-raised-button {
        margin: 0 0 5vh 0;
        width: 40vw;
    }

    .results-table-container{
        border: 1px solid $telq-lightgray;
        height: 67vh;
        overflow-y: auto;
        width: 40vw;

        .empty-message {
            color: $telq-lightgray;
            margin: 20vh;
            text-align: center;

            .mat-icon{
                font-size: 3em;
                width: 100%;
            }

        }

        mat-header-cell, mat-cell {
            cursor: pointer;
            justify-content: space-evenly;
        }

        mat-header-cell{
            font-size: 1em;
            font-weight: bold;
        }
    }

    .red{
        color: $telq-red;
    }

    .green{
        color: $telq-green;
    }
    
    .spinner:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 50%;
        border: 2px solid $telq-white;
        border-top-color: $telq-black;
        animation: spinner .8s linear infinite;
    }
}


@media screen and (max-width: 600px) {
    .results-container {

        .mat-raised-button {
            width: 90vw;
        }

        .results-table-container{
            width: 90vw;
        }
    }
}