@keyframes spinner {
    to {transform: rotate(360deg);}
}

.results-container{

    align-items: center;
    display: flex;
    flex-direction: column;

    .mat-raised-button {
        margin: 0 0 5vh 0;
        width: 40vw;
    }

    .results-table-container{
        width: 40vw;
    }

    .red{
        color: red;
    }

    .green{
        color: green;
    }
    
    .spinner:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 50%;
        border: 2px solid #ffffff;
        border-top-color: #000000;
        animation: spinner .8s linear infinite;
    }
}


@media screen and (max-width: 600px) {
    .results-container {

        .mat-raised-button {
            width: 90vw;
        }

        .results-table-container{
            width: 90vw;
        }
    }
}