@import "../../../colors.scss";

.countries-container {
    
    align-items: center;
    display: flex;
    flex-direction: column;

    .countries-table-container {
        border: 1px solid $telq-lightgray;
        height: 70vh;
        overflow-y: auto;
        width: 40vw;

        .empty-message {
            color: $telq-lightgray;
            margin: 20vh;
            text-align: center;

            .mat-icon{
                font-size: 3em;
                width: 100%;
            }

        }

        .colored{
            background-color: $telq-lightgray;
        }

        mat-header-cell, mat-cell {
            cursor: pointer;
            justify-content: space-evenly;
        }
        
        mat-header-cell{
            font-size: 1em;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 600px) {
    .countries-container{
        
        .countries-table-container {
            width: 90vw;
        }
    }
}