.countries-container {
    
    align-items: center;
    display: flex;
    flex-direction: column;

    .ant-select{
        width: 40vw;
        margin: 0 0 5vh 0;
    }
}

@media screen and (max-width: 600px) {
    .countries-container {

        .ant-select{
            width: 90vw;
        }
    }
}