.countries-container {
    
    align-items: center;
    display: flex;
    flex-direction: column;

    .countries-table-container {
        border: 1px solid lightgray;
        height: 70vh;
        overflow-y: scroll;
        width: 40vw;

        mat-header-cell, mat-cell {
            justify-content: space-evenly;
        }
    }
}

@media screen and (max-width: 600px) {
    .countries-container{
        
        .countries-table-container {
            width: 90vw;
        }
    }
}