<div class="countries-container">
    <h2>Please select the countries from the list below</h2>
    <div class="countries-table-container mat-elevation-z0">
        <mat-table #table [dataSource]="listOfCountries">
            <ng-container matColumnDef="checked">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-checkbox [checked]="element.checked" (change)="onCheckBoxClicked(element)"></mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['name','checked']; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['name','checked'];"></mat-row>
        </mat-table>
    </div>
</div>